#esercizio1 {
    width: 200px;
    height: 200px;
    background-color: lightslategray;


}
#esercizio3 {
    width: 200px;
    height: 200px;
    background-color: lightsalmon;

}
#esercizio2 {
    width: 200px;
    height: 200px;
    background-color: lightpink;
   
}
 #quadrato1, #quadrato2 {
    width: 50px;
    height: 50px;
    border: 2px solid black; 
    display: inline-block;  
    margin: 10px;
}
#esercizio4 {
     width: 200px;
    height: 240px;
    background-color: lightgreen;
}


